
 <form class="form"  method="post">
            <div class="col-sm-12  col-md-12 main">

                <!-- CLIENT INFO-->
                <!--<h2 class="page-header "> Manager board </h2>-->
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                        Manager board
                        <h2 style="position: absolute;margin-top: -1.7%;margin-left: 87%;cursor: pointer;"
                            (click)="openModal()">
                         <span class="glyphicon glyphicon-cog">
                         </span> 
                         <span 
                                *ngIf="newAnswers !=0" 
                                style="margin-top: -10px;" 
                                class="badge">{{newAnswers}}
                         </span></h2>
                    </div>

                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Order</th>
                            <th>Time/Client info</th>
                            <!--<th>Client info</th>-->
                            <th>Address/Value</th>
                            <!--<th>Value</th>-->
                            <th class="text-center">Asing</th>
                            <th>Comment for manager</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of orders">
                            <td style="width: 1%;">
                                <!--id:{{item.orderNumber}}-->
                               <span>
                                 <span class="glyphicon glyphicon-list-alt"></span>  {{item.orderNumber}}
                               </span>
                            </td>

                            <td>
                               <span class="glyphicon glyphicon-time"></span> {{item.orderDay}}
                               <hr style="margin-top: 64.5px;">
                               <span class="glyphicon glyphicon-user"></span> {{item.fullName}}<br>
                               <span class="glyphicon glyphicon-earphone"></span> {{item.phoneNumber}}<br>
                               <span class="glyphicon glyphicon-envelope"></span> {{item.mail}}
                            </td>

                            <!--<td>
                                <span class="glyphicon glyphicon-user"></span> {{item.fullName}}<br>
                                <span class="glyphicon glyphicon-earphone"></span> {{item.phoneNumber}}<br>
                                <span class="glyphicon glyphicon-envelope"></span> {{item.mail}}
                            </td>-->

                            <td>
                                <spa style="cursor: pointer;font-weight: bold;" (click)="addressFrom('adsadasd', item.loadingAddress[0].address)">
                                  <span class="glyphicon glyphicon-export"></span> {{item.loadingAddress[0].address}}
                                </spa><br>

                                <span class="glyphicon glyphicon-import"></span> {{item.unloadingAddress[0].address}}<br>
                                <span class="glyphicon glyphicon-road"></span> {{item.distance}} miles

                                <hr>

                                <span>
                                  <span class="glyphicon glyphicon-inbox"></span> truck/van:
                                  <span style="font-weight: bold;font-size: 1.1em;">{{item.truck}}</span><br>
                                </span>
                                <span>
                                  <span class="glyphicon glyphicon-user"></span> movers:
                                  <span style="font-weight: bold;font-size: 1.1em;">{{item.movers}}</span><br>
                                </span>
                              <!--movers:{{item.movers}}<br>-->
                                <span>
                                  <span class="glyphicon glyphicon-credit-card"></span>
                                  <span style="font-weight: bold;font-size: 1.1em;">{{item.totalPrice|currency:'USD':true:'1.2-2'}}</span>
                                </span><br>
                            </td>

                            <!--<td>

                                <span>
                                  <span class="glyphicon glyphicon-inbox"></span> {{item.truck}}<br>
                                </span>
                                <span>
                                  <span class="glyphicon glyphicon-shopping-cart"></span> {{item.movers}}<br>
                                </span>

                                <span (click)="addressFrom('Rate per 1 hour: ', item.totalPriceForFirstHour)">
                                  <span class="glyphicon glyphicon-credit-card"></span> {{item.totalPriceForFirstHour|currency:'USD':true:'1.2-2'}}
                                </span><br>
                            </td>
                            -->
                            <td style="width: 36%">
                                <div>

                                      <div class="input-group" style="width:93%;">
                                        <span class="input-group-addon" style="width: 30.5%;">Truck</span>
                                        <div class="dropdown"style="width: 100%;">  
                                            <select class="form-control" #selectTruck>
                                                <option *ngFor="let vehicle of item.vehicles">
                                                    {{vehicle.type+' '+vehicle.vehicleRegNumber}}
                                                </option>
                                            </select>
                                        </div>
                                        <!--<span class="input-group-addon sms-btn" (click)="sendMessage('Truck', selectTruck.selectedIndex)"><span class="glyphicon glyphicon-envelope"></span></span>-->
                                      </div>
                                     <!--<button style="position: absolute;margin-left: 17.5%;margin-top: -2.2%;" type="button" class="btn btn-sm btn-pill btn-primary">sms</button>-->


                                    <!--<p-->
                                    <div class="input-group" style="margin-top: 2%;">
                                        <span class="input-group-addon" style="width: 28.5%;">Foreman</span>
                                        <div class="dropdown" style="width: 100%;">
                                            <select  class="form-control" #selectForeman>
                                                <option *ngFor="let forman of item.foremans">
                                                    {{forman.firstName+' '+forman.lastName}}
                                            </select>
                                        </div>
                                      <span class="input-group-addon sms-btn" (click)="sendMessage('Foreman', selectForeman.selectedIndex)"><span class="glyphicon glyphicon-envelope"></span></span>
                                    </div>
                                   <!--<button style="position: absolute;margin-left: 17.5%;margin-top: -2.1%;" type="button" class="btn btn-sm btn-pill btn-primary">sms</button>-->
                                    <!--/>-->
                                    <div class="input-group" style="margin-top: 2%;">
                                        <span class="input-group-addon" style="width: 28.5%;">Driver</span>
                                        <div class="dropdown" style="width: 100%;">
                                            <select class="form-control" #selectDriver>
                                                <option *ngFor="let driver of item.drivers">
                                                    {{driver.firstName+' '+driver.lastName}}
                                                </option>
                                            </select>
                                        </div>
                                      <span class="input-group-addon sms-btn" (click)="sendMessage('Driver', selectDriver.selectedIndex)"><span class="glyphicon glyphicon-envelope"></span></span>
                                    </div>
                                  <!--<button style="position: absolute;margin-left: 17.5%;margin-top: -2.1%;" type="button" class="btn btn-sm btn-pill btn-primary">sms</button>-->

                                    <!--<p-->
                                    <div class="input-group" style="margin-top: 2%;">
                                        <span class="input-group-addon" style="width: 28.5%;">Mover</span>
                                        <div class="dropdown" style="width: 100%;" >
                                            <select class="form-control" id="movers" #selectMover>
                                                <option *ngFor="let mover of item.moverss">
                                                        {{mover.firstName+' '+ mover.lastName}}
                                                </option>
                                            </select>
                                        </div>
                                      <span class="input-group-addon sms-btn" (click)="sendMessage('Mover', selectMover.selectedIndex)"><span class="glyphicon glyphicon-envelope"></span></span>
                                    </div>
                                  <!--<button style="position: absolute;margin-left: 17.5%;margin-top: -2.1%;" type="button" class="btn btn-sm btn-pill btn-primary">sms</button>-->
                                    <!--/>-->


                                   <!-- <div formArrayName="helpers">

                                        <div *ngFor="let helper of orderForm.controls.helpers.controls; let i=index" class="m_2">
                                            <div [formGroupName]="i">

                                                <div class="input-group col-md-10">
                                                    <span class="input-group-addon w_30"><span class="glyphicon glyphicon-road"></span> Helpers</span>
                                                    <input type="text"
                                                           class="w_90"
                                                           formControlName="helper"
                                                           placeholder="Helper"
                                                           pInputText/>
                                                           <span class="glyphicon glyphicon-remove pull-right" style="cursor:pointer"
                                                           *ngIf="orderForm.controls.helpers.controls.length > 1"
                                                           (click)="removeAddressFrom(i)"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    -->

                                    <div class="input-group" style="margin-top: 2%;">
                                        <span class="input-group-addon" style="width: 28.5%;">Helper</span>
                                        <div class="dropdown">
                                            <select class="form-control" #selectHelper>
                                                <option *ngFor="let helper of item.helpers">
                                                    {{helper.firstName+' '+helper.lastName}}
                                                </option>
                                            </select>
                                        </div>
                                        <span class="input-group-addon sms-btn" (click)="sendMessage('Helper', selectHelper.selectedIndex)"><span class="glyphicon glyphicon-envelope"></span></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <textarea class="form-control"
                                              rows="7"
                                              cols="1"
                                              id="comment"
                                              [value]="item.fieldForManagerComments">
                                    </textarea>

                                  <button style="margin-top: 2%;" type="button" class="btn  btn-pill btn-primary"><span class="glyphicon glyphicon-print"></span> Print</button>
                                  <button style="margin-top: 2%;" type="button" class="btn  btn-pill btn-primary"><span class="glyphicon glyphicon-open"></span> Submit</button>
                                </div>
                            </td>

                            <!--<td>
                                <button type="button" class="btn btn-sm btn-pill btn-primary">Print</button>
                                <button type="button" class="btn btn-sm btn-pill btn-primary">Submit</button>
                            </td>
                            -->

                        </tr>
                        <!--<tr>
                            <th scope="row">
                                2
                            </th>
                            <td>
                                7/19/2016 PM: 12:00
                            </td>
                            <td>
                                Name:Ottewo moewtto
                                Phone:3232323333
                                Email:aseeefg@mail.com
                            </td>
                            <td>
                                From: orrlolo street 90002
                                To: fokrrrok avenue 90003
                                Distance: 35 miles
                            </td>
                            <td>
                                truck:1
                                movers:2
                                rate per 1 hour: $125
                            </td>
                            <td style="width: 25%">
                                <div>
                                    <div class="input-group">
                                        <span class="input-group-addon">Truck</span>
                                        <div class="dropdown">
                                            <select style="width: 50%;" class="form-control" id="truck"
                                                    th:field="*{truck}">
                                                <option th:each="truck : ${actualListTruck}"
                                                        th:value="${truck}"
                                                        th:text="#{${truck}}">Wireframe
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon15994223">Forman</span>
                                        <div class="dropdown">
                                            <select style="width: 50%;" class="form-control" id="movers"
                                                    th:field="*{movers}">
                                                <option th:each="movers : ${actualListMovers}"
                                                        th:value="${movers}"
                                                        th:text="#{${movers}}">Wireframe
                                                </option>
                                            </select>
                                            <button type="button" class="btn btn-sm btn-pill btn-primary">sms</button>
                                        </div>
                                    </div>




                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon15994223">Driver</span>
                                        <div class="dropdown">
                                            <select style="width: 50%;" class="form-control" id="movers"
                                                    th:field="*{movers}">
                                                <option th:each="movers : ${actualListMovers}"
                                                        th:value="${movers}"
                                                        th:text="#{${movers}}">Wireframe
                                                </option>
                                            </select>
                                            <button type="button" class="btn btn-sm btn-pill btn-primary">sms</button>
                                        </div>
                                    </div>



                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon15994223">Mover</span>
                                        <div class="dropdown">
                                            <select style="width: 50%;" class="form-control" id="movers"
                                                    th:field="*{movers}">
                                                <option th:each="movers : ${actualListMovers}"
                                                        th:value="${movers}"
                                                        th:text="#{${movers}}">Wireframe
                                                </option>
                                            </select>
                                            <button type="button" class="btn btn-sm btn-pill btn-primary">sms</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label for="comment">Comment for manager:</label>
                                    <textarea class="form-control" rows="5" id="comment"></textarea>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-sm btn-pill btn-primary">Print</button>
                                <button type="button" class="btn btn-sm btn-pill btn-primary">Submit</button>
                            </td>

                        </tr>-->
                        <!--<tr>-->
                        <!--<th scope="row">2</th>-->
                        <!--<td>Jacob</td>-->
                        <!--<td>Thornton</td>-->
                        <!--<td>@fat</td>-->
                        <!--</tr>-->

                        </tbody>
                    </table>
                </div>

            </div>
        </form>


 <!-- Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title" id="myModalLabel">
             <h3>Sent messages</h3>
         </h4>
       </div>
       <div class="modal-body">
       <!-- <ul>
            <li *ngFor="let message of sentMessages">
                <span>{{message.fullName}}</span>
                <span>{{message.phone}}</span>
                <span>
                    <span *ngIf="!message.isConfirm" class="glyphicon glyphicon-remove"></span>
                     <span *ngIf="message.isConfirm" class="glyphicon glyphicon-ok"></span>
                </span>
            </li>
        </ul>
        -->
           <table class="table table-hover">

               <thead>
                   <tr>
                       <th>
                           <div class="input-group">
                              <span class="glyphicon glyphicon-user"></span> Person
                           </div>
                       </th>
                       <th>Phone</th>
                       <th>Is confirm</th>
                   </tr>
               </thead>
               <tbody>
                  <tr *ngFor="let message of sentMessages" [className]="getTrClass(message.confirm)">
                      <td>{{message.fullName}}</td>
                      <td>{{message.phone}}</td>
                      <td>
                          <span *ngIf="!message.confirm" class="glyphicon glyphicon-remove" style="color:red;"></span>
                          <span *ngIf="message.confirm" class="glyphicon glyphicon-ok" style="color:green;"></span>
                      </td>
                  </tr>
               </tbody>
           </table>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
       </div>
     </div>
   </div>
 </div>


 <style>
   .sms-btn{
     opacity: 0.8;
     cursor: pointer;
   }
   .sms-btn:active{
     margin-top: -5px;
     box-shadow: 5px 5px 5px rgba(0,0,0,0.03);
   }
   .sms-btn:hover{
     opacity: 1;
   }
 </style>
