<div class="container">
    <div class="row">
        <div class="col-xs-2 col-md-3">
            <div class="input-group">
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-user"></span> Name
            </span>
                <input type="text"
                       class="form-control"
                       [(ngModel)]="client.fullName"
                       placeholder="Name"
                       pInputText
                />
            </div>
        </div>

        <div class="col-xs-2 col-md-3">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span> E-mail
                </span>
                <input type="text"
                       [(ngModel)]="client.mail"
                       class="form-control"
                       placeholder="Email"
                       pInputText/>
            </div>
        </div>

        <div class="col-xs-2 col-md-3">
            <div class="input-group"><span class="input-group-addon">
                <span class="glyphicon glyphicon-earphone"></span> Phone
            </span>
                <input type="text"
                       [(ngModel)]="client.phone"
                       class="form-control"
                       placeholder="Phone"
                       pInputText/>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 5%;">

        <div class="col-xs-6 col-md-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-shopping-cart"></span> Tariff</span>
                <div class="dropdown" style="width: 74%;">
                    <select class="form-control" [(ngModel)]="order.tariff">
                        <option *ngFor="let item of tariffs" (click)="selectTariff(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-3">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span> Payment method</span>
                <div class="dropdown">
                    <select class="form-control" style="width: 110%;">
                        <option *ngFor="let item of paymentMethods" (click)="selectPaymentMethod(item)" >
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xs-6 col-md-3">
            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-shopping-cart"></span> Trucks</span>
                <div class="dropdown">
                    <select class="form-control boldC p_25" [(ngModel)]='order.trucks'>
                        <option *ngFor="let item of trucks" (click)="selectTruck(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span> Service charge</span>
                <input  type="text"  [(ngModel)]="order.serviceCharge" class="form-control" placeholder="30.00"/>
            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-compressed"></span> Packing materials</span>
                <div class="dropdown">
                    <select class="form-control"  [(ngModel)]="order.packingMaterial">
                        <option *ngFor="let item of packageMaterials" (click)="selectPackingMaterials(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-resize-small"></span> Shrink</span>
                <div class="dropdown">
                    <select class="form-control"  [(ngModel)]="order.shrink">
                        <option *ngFor="let item of shrinks" (click)="selectShrink(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span> Tape</span>
                <div class="dropdown">
                    <select class="form-control boldC p_25"  [(ngModel)]="order.tape">
                        <option *ngFor="let item of tapes" (click)="selectTape(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-inbox"></span> Heavy Item</span>

                <p-multiSelect [options]="heavyItems"
                               [(ngModel)]="order.heavyItems"
                               #item
                               (onChange)="changeMultiSelect(item)"
                >
                </p-multiSelect>

                <!--</div>-->
            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span> DDT</span>
                <input type="text"
                       [(ngModel)]="order.ddt"
                       class="form-control boldC"
                       placeholder="Miles"
                />
            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span> Storage</span>
          <span class="input-group-addon">
            <input type="checkbox"
                   [(ngModel)]="order.storage"
                   style="width: 20px;height: 20px;;"
                   name="vehicle"
                   id="vegicle"
                   value="Bike"/>
          </span>
            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-tags"></span> Discount</span>
                <input style=""
                       [(ngModel)]="order.discount"
                       type="text"
                       class="form-control"
                       placeholder="0.00%"
                />
          <span class="input-group-addon" style="margin-top: 3%;">
             <input type="checkbox"
                    style="width: 20px;height: 20px;;"
                    value="Bike" (change)="toggleDiscount()"/>
          </span>

            </div>

            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-folder-close"></span> Total hours</span>
                <div class="dropdown">
                    <select  class="form-control"  [(ngModel)]="order.totalHours">
                        <option *ngFor="let item of totalHours" (click)="selectTotalForFirst(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>

        </div>

        <div class="col-xs-6 col-md-2">
            <div class="input-group" style="margin-top: 3%;">
                <span class="input-group-addon" id="basic-addon15994223"><span class="glyphicon glyphicon-user"></span> Movers</span>
                <div class="dropdown">
                    <select class="form-control" [(ngModel)]='order.movers'>
                        <option *ngFor="let item of movers" (click)="selectMover(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="input-group" style="margin-top: 1.8%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-dashboard"></span> Rate per hour</span>
                <div class="dropdown" style="width: 64%;">
                    <select class="form-control boldC"  [(ngModel)]="order.rateType">
                        <option *ngFor="let item of ratePerHour" (click)="selectRateperhour(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="input-group" style="margin-top: 71%;margin-left: -16%;">
                <span class="input-group-addon">Size of storage unit</span>
                <div class="dropdown">
                    <select id="packingMaterials" class="form-control boldC" style="width: 40%;padding-left: 10px;margin-right: 4%;"  [(ngModel)]="order.sizeOfStorageUnit">
                        <option *ngFor="let item of storageSizes" (click)="selectSizeOfStorageUnit(item)">
                            {{item.name}}
                        </option>
                    </select>
                </div>

                <div style="margin-top: 1%;">
                    <p-calendar dateFormat="mm/dd/yy"
                                timeFormat="hh:mm tt z"
                                timeControlType="select"
                                placeholder="Storage date"
                                [showIcon]="true"
                                [horizontalTimeControls]="true">
                    </p-calendar>
                </div>

            </div>

        </div>

        <div class="col-xs-6 col-md-2" style="margin-top: 0.2%;margin-left: 6%;">
            <input type="text"
                   class="form-control right-input"
                   placeholder="0.00"
                   pInputText
                   style="margin-top: 3%;"
                   [(ngModel)]="order.priceForEachHour"
            />

            <input type="text"
                   class="form-control right-input"
                   placeholder="0.00"
                   pInputText
                   style="margin-top: 4.5%;"
            />

            <input type="text"
                   id="packingMaterialsSum"
                   class="form-control right-input"
                   style="margin-top: 4.5%;"
                   placeholder="0.00"
                   pInputText
            />

            <input type="text"
                   id="shrinkSum"
                   class="form-control right-input"
                   placeholder="0.00"
                   pInputText
                   style="margin-top: 4.5%;"
            />
            <input type="text"
                   class="form-control right-input"
                   placeholder="0.00"
                   pInputText
                   style="margin-top: 4.5%;"
            />
            <input type="text"
                   class="form-control right-input"
                   [(ngModel)]="order.heavyItemPrice"
                   placeholder="0.00"
                   style="margin-top: 4.5%;"
                   pInputText
            />

            <input type="text"
                   class="form-control right-input"
                   [(ngModel)]="order.ddtPrice"
                   placeholder="0.00"
                   pInputText
                   style="margin-top: 4.5%;"
            />

            <input type="text"
                   class="form-control right-input"
                   placeholder="0.00"
                   pInputText
                   style="margin-top: 4.5%;"
            />
            <input type="text"
                   id="discountValue"
                   class="form-control right-input"
                   placeholder="0.00"
                   style="margin-top: 4.5%;"
                   pInputText
            />
            <input type="text"
                   id="totalForHours"
                   class="form-control"
                   style="margin-top: 4.5%;"
                   placeholder="0.00"
                   pInputText
            />
        </div>

   </div>

    <button style="margin-top: 2%;" class="btn-success btn-lg" (click)="saveData()">Update data</button>
</div>

