<form class="form" method="post" (ngSubmit)="sentFullForm()" [formGroup]="orderForm">
  <div class=" main">
    <div class="row placeholders">
    </div>
    <!-- CLIENT INFO-->
    <div class="row">
      <h2 class="col-md-2" style="margin-left: 14%;">
        Client Info
      </h2>
      <h2 class="col-md-2" style="margin-left: 15%;">
        Moving Info
      </h2>
    </div>

    <div class="container">
      <div class="row">


        <div class="col-xs-6 col-md-3">

          <div class="input-group ">
            <span class="input-group-addon label_40" id="basic-addon1232153">
              <span class="glyphicon glyphicon-home"></span> Company
            </span>
            <div class="dropdown" style="">
              <select class="form-control"
                      style="font-weight: 600;"
                      [(ngModel)]="timeModel.orderForm.company"
                      [ngModelOptions]="{standalone: true}">
                <option *ngFor="let item of companies"
                        (click)="selectCompany(item)">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>

          <div class="input-group container-margin-3">
            <span class="input-group-addon label_40" id="basic-addon11236">
              <span class="glyphicon glyphicon-user"></span> Name
            </span>
            <input type="text"
                   styleClass="ui-inputtext-text"
                   formControlName="fullName"
                   placeholder="Name"
                   pInputText
            />

            <!--<input *ngIf='userService.user.isLoggin'type="text"
                   styleClass="ui-inputtext-text"
                   [value]="timeModel.orderForm.fullName"
                   placeholder="Name"
                   pInputText
            />-->

          </div>

          <div class="input-group container-margin-3">
                                    <span class="input-group-addon label_40"
                                          id="basic-addon1723"><span class="glyphicon glyphicon-envelope"></span> E-mail </span>
            <input type="text"
                   class="form-control"
                   formControlName="mail"
                   placeholder="Email"
                   pInputText/>
          </div>

          <div class="input-group container-margin-3">
                                    <span class="input-group-addon label_40" id="basic-addon17432">
                                    <span class="glyphicon glyphicon-earphone"></span> Phone
                                    </span>
            <input type="text"
                   formControlName="phoneNumber"
                   placeholder="Phone"
                   pInputText/>
          </div>


          <div class="input-group" [ngStyle]="{'margin-top': howDidYouKnowMargin}">
            <span class="qu1"><span class="glyphicon glyphicon-globe"></span> How did you hear about us?</span>
            <div class="dropdown" style="width: 80%;">
              <select class="form-control" style="font-weight: 600;padding-left: 20%;" [(ngModel)]="timeModel.orderForm.advertisement" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let item of advertisements"
                        (click)="selectAdvertisement(item)">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>

        </div>

        <div class="col-xs-6 col-md-5">

          <div class="input-group col-md-10">
            <span class="input-group-addon" id="basic-addon17"><span class="glyphicon glyphicon-fullscreen"></span> Size of move</span>
            <div class="dropdown" style="width: 90%;">
              <select id="packingMaterials" class="form-control" style="font-weight: 600;" [(ngModel)]="timeModel.orderForm.sizeOfMove" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let item of sizeOfMove" (click)="selectSizeOfMoves(item)">
                  {{item.name}}
                </option>
              </select>
            </div>
          </div>

          <div formArrayName="loadingAddress">

            <div *ngFor="let address of orderForm.controls.loadingAddress.controls; let i=index" class="m_2">
              <div [formGroupName]="i">

                <div id="loadAddressDiv" class="input-group col-md-10">
                  <span class="input-group-addon w_30"><span class="glyphicon glyphicon-road"></span> Address from</span>
                  <input type="text"
                         class="w_90"
                         formControlName="address"
                         placeholder="Address from"
                         pInputText/>
                               <span class="glyphicon glyphicon-remove pull-right" style="cursor:pointer"
                                     *ngIf="orderForm.controls.loadingAddress.controls.length > 1"
                                     (click)="removeAddressFrom(i)"></span>
                </div>

              </div>
            </div>
          </div>

          <hr>

          <div formArrayName="unLoadingAddress">
            <div *ngFor="let address of orderForm.controls.unLoadingAddress.controls; let i=index" style="margin-top: 2.6%;">
              <div [formGroupName]="i">

              <div id="unloadAddressDiv" class="input-group col-md-10">
                                    <span class="input-group-addon"
                                          style="width: 34%;"
                                          id="basic-addon1435"><span class="glyphicon glyphicon-road"></span>  Address to
                                    </span>

                  <input type="text"
                         class="w_90"
                         formControlName="address"
                         placeholder="Address to"
                         pInputText
                  />
                                             <span class="glyphicon glyphicon-remove pull-right" style="cursor:pointer"
                                                   *ngIf="orderForm.controls.unLoadingAddress.controls.length > 1"
                                                   (click)="removeAddressTo(i)"></span>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="btn-group" style="margin-right:60px;">
            <p-calendar dateFormat="yy-mm-dd"
                        formControlName="moveDate"
                        placeholder="Move date"
                        [showIcon]="true"
                        #val
                        (onSelect)="calendarDateSelect(val)"
                        [monthNavigator]="true"
                        [value]="timeModel.orderForm.moveDate"
                        [yearNavigator]="true"></p-calendar>
          </div>
          <div class="btn-group" style="margin-left: -5%;">
            <div class="dropdown drowdown-width" style="width: 125%;">
              <select id="packingMaterials" class="form-control" [(ngModel)]="timeMove" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let item of time"
                        (click)="selectMoveTime(item)">
                  {{item}}
                </option>
              </select>
            </div>
          </div>

          <div class="btn-group m_3" style="margin-right:60px;">
            <p-calendar dateFormat="yy-mm-dd"
                        formControlName="packageDate"
                        placeholder="Packing date"
                        [monthNavigator]="true"
                        [showIcon]="true"
                        [yearNavigator]="true">
            </p-calendar>
          </div>

          <div class="btn-group container-margin-3" style="margin-left: -5%;">
            <div class="dropdown drowdown-width w_125">
              <select class="form-control" [(ngModel)]="timePackage" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let item of time"
                        (click)="selectPackingTime(item)">
                  {{item}}
                </option>
              </select>
            </div>
          </div>

          <div class="btn-group container-margin-3" style="margin-right:60px;">
            <p-calendar dateFormat="yy-mm-dd"
                        formControlName="estimateDate"
                        placeholder="Estimate date"
                        [monthNavigator]="true"
                        [showIcon]="true"
                        [yearNavigator]="true">
            </p-calendar>
          </div>


          <div class="btn-group container-margin-3" style="margin-left: -5%;  ">
            <div class="dropdown drowdown-width w_125">
              <select class="form-control" [(ngModel)]="timeEstimate" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let item of time"
                        (click)="selectEstimateTime(item)">
                  {{item}}
                </option>
              </select>
            </div>
          </div>

        </div>


        <div class="col-xs-6 col-md-2">

          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-wrench"></span> Labor</span>
            <span class="input-group-addon">
                 <input type="checkbox"
                        formControlName="isLabor"
                        name="vehicle"
                        class="checkbox-addon"
                        value="Van"/>
            </span>
          </div>

          <div formArrayName="loadingAddress">
            <div *ngFor="let address of orderForm.controls.loadingAddress.controls; let i=index" style="margin-top: 2.6%;">
              <div [formGroupName]="i">
                <div id="zipFromDiv" class="input-group">
                  <span class="input-group-addon" style="width: 38%;">
                    <span class="glyphicon glyphicon-list"></span> Zip from
                  </span>
                  <input type="text"
                         class="w_100"
                         formControlName="zip"
                         placeholder="Zip from"
                         pInputText
                  />

                  <!--<button class="btn btn-default " (click)="addAddressFrom()" type="button">
                      Add
                  </button>-->
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div formArrayName="unLoadingAddress">
            <div *ngFor="let address of orderForm.controls.unLoadingAddress.controls; let i=index" style="margin-top: 2.6%;">
              <div [formGroupName]="i">

                <div id="zipToDiv" class="input-group">
                  <span class="input-group-addon"  style="width: 58%;" >
                    <span class="glyphicon glyphicon-list"></span> Zip to
                  </span>

                  <input type="text"
                         formControlName="zip"
                         style="width: 100%;"
                         placeholder="Zip to"
                         pInputText
                  />
                  <!--<button type="button"
                          class="btn btn-default"
                          (click)="addAddressTo()">add
                  </button>-->
                </div>
              </div>
            </div>
          </div>

           <br><br><button type="button" class="btn btn-default btn-number"
                  (click)="getDistance()"
                  data-type="plus">
            <span class="glyphicon glyphicon-plus"></span>
          </button>

          <br><h4>Distance:{{timeModel.orderForm.distance}}</h4>

        </div>

        <div class="col-xs-6 col-md-1">

          <button type="button" class="btn btn-default btn-number"
                  [ngStyle]="{'margin-top': btnAddAddressFromMargin}"
                  (click)="addAddressFrom()"
                  data-type="plus">
            <span class="glyphicon glyphicon-plus"></span>
          </button>

          <button type="button"
                  [ngStyle]="{'margin-top': btnAddAddressToMargin}"
                  (click)="addAddressTo()"
                  class="btn btn-default btn-number"
                  data-type="plus">
            <span class="glyphicon glyphicon-plus"></span>
          </button>

        </div>


      </div>
      <hr>

      <button class="btn btn-success" type="button" (click)="sentOrderForm()" *ngIf="!userService.user.position==0">
        Apply
      </button>
      <button class="btn btn-success " type="button" (click)="sentTest()" *ngIf="!userService.user.position==0">
        SentTest
      </button>

    </div>

  </div>


  <h2 class="page-header text-center">Payment details</h2>

  <div class="container">

    <div class="row">


      <div class="col-xs-6 col-md-3">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-shopping-cart"></span> Tariff</span>
          <div class="dropdown" style="width: 74%;">
            <select class="form-control boldC" [(ngModel)]="timeModel.paymentDetailsForm.tariff" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of tariffs" (click)="selectTariff(item)">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
        <div style="width:361%;background-color: #eee;height: 35px;margin-top: -13%;">

        </div>
      </div>

      <div class="col-xs-6 col-md-5">
        <div class="input-group" style="padding-left: 21.5%;z-index: 1000;">
          <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span> Payment method</span>
          <div class="dropdown" style="width: 60%;">
            <select class="form-control boldC"  [(ngModel)]="timeModel.paymentDetailsForm.paymentMethod" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of paymentMethods" (click)="selectPaymentMethod(item)" >
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

    </div>

    <div class="row">

      <div class="col-xs-6 col-md-2">
        <div class="input-group m_4">
          <span class="input-group-addon"><span class="glyphicon glyphicon-shopping-cart"></span> Trucks</span>
          <div class="dropdown">
            <select class="form-control boldC p_25" [(ngModel)]="timeModel.paymentDetailsForm.truck" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of trucks" (click)="selectTruck(item)">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="input-group m_4" style="width: 300%;">
          <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span> Service charge</span>
          <input style="width: 34.5%;text-align: right;padding-right: 5%;" type="text" class="form-control" placeholder="30.00"
                 aria-describedby="basic-addon1" />
          <div style="width:226%;background-color: #eee;height: 35px;"></div>
        </div>

        <div class="input-group m_4 w_158">
          <span class="input-group-addon" id="basic-addon1593293"><span class="glyphicon glyphicon-compressed"></span> Packing materials</span>
          <div class="dropdown">
            <select id="packingMaterials" class="form-control boldC p_25">
              <option *ngFor="let item of packageMaterials" (click)="selectPackingMaterials(item)">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="input-group m_4 w_158">
          <span class="input-group-addon"><span class="glyphicon glyphicon-resize-small"></span> Shrink</span>
          <div class="dropdown" style="width: 41%;">
            <select id="packingMaterials" class="form-control boldC p_25" [(ngModel)]="timeModel.paymentDetailsForm.shrink" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of shrinks" (click)="selectShrink(item)">
                {{item.name}}
              </option>
            </select>
          </div>
          <div style="width:490%;background-color: #eee;height: 35px;"></div>
        </div>

        <div class="input-group m_4 w_158">
          <span class="input-group-addon" style="width: 32%;"><span class="glyphicon glyphicon-tag"></span> Tape</span>
          <div class="dropdown" style="width: 41%;">
            <select id="packingMaterials" class="form-control boldC p_25" [(ngModel)]="timeModel.paymentDetailsForm.tape" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of tapes" (click)="selectTape(item)">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>

        <div class="input-group m_4 w_158" style="z-index: 1000; width:400%;">
          <span class="input-group-addon"><span class="glyphicon glyphicon-inbox"></span> Heavy Item</span>

          <p-multiSelect [options]="heavyItems"
                         [(ngModel)]="selectedheavyItems"
                         [ngModelOptions]="{standalone: true}"
                         #item
                         (onChange)="changeMultiSelect(item)"
          >
          </p-multiSelect>
          <!--</div>-->
        </div>
        <div style="position:absolute;width:486%;background-color: #eee;height: 35px;margin-top: -17%;"></div>

        <div class="input-group m_4 w_158">
          <span class="input-group-addon"><span class="glyphicon glyphicon-road"></span> DDT</span>
          <input style="width: 45%;"
                 type="text"
                 class="form-control boldC"
                 [(ngModel)]="timeModel.paymentDetailsForm.ddt" [ngModelOptions]="{standalone: true}"
                 placeholder="Miles"
          />
        </div>

        <div class="input-group m_4 w_158">
          <label for="vehicle" style="margin-right:15px;" class="input-group-addon"><span class="glyphicon glyphicon-lock"></span> Storage</label>
          <span class="input-group-addon">
            <input type="checkbox"
                   style="width: 20px;height: 20px;;"
                   name="vehicle"
                   id="vehicle"
                   value="Bike"/>
          </span>
          <div style="width:670%;background-color: #eee;height: 35px;"></div>
        </div>

        <div class="input-group m_4" style="width: 132%;">
          <span class="input-group-addon" id="basic-addon12346"><span class="glyphicon glyphicon-tags"></span> Discount</span>
          <input style=""
                 type="text"
                 id="discount"
                 class="form-control"
                 [(ngModel)]="discountValue"
                 [ngModelOptions]="{standalone: true}"
                 placeholder="0.00%"
          />
          <span class="input-group-addon">
             <input type="checkbox"
                    style="width: 20px;height: 20px;;"
                    name="vehicle"
                    [value]="discountValue"
                    value="Bike" (change)="toggleDiscount()"/>
          </span>

        </div>

        <div class="input-group m_4" style="width: 160%;">
          <span class="input-group-addon"><span class="glyphicon glyphicon-folder-close"></span> Total hours</span>
          <div class="dropdown" style="width: 70%;">
            <select id="packingMaterials" class="form-control boldC" style="padding-left: 25%;" [(ngModel)]="timeModel.paymentDetailsForm.totalHour" [ngModelOptions]="{standalone: true}">
              <option *ngFor="let item of totalHours" (click)="selectTotalForFirst(item)">
                {{item.name}}
              </option>
            </select>
          </div>
          <div style="width:558%;background-color: #eee;height: 35px;"></div>
        </div>

      </div>

      <div class="col-xs-6 col-md-2">
        <div class="input-group m_4">
          <span class="input-group-addon" id="basic-addon15994223"><span class="glyphicon glyphicon-user"></span> Movers</span>
          <div class="dropdown">
            <select class="form-control">
              <option *ngFor="let item of movers" (click)="selectMover(item)">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-md-4" style="margin-top: 0.6%;">
        <div class="input-group" >
          <span class="input-group-addon"><span class="glyphicon glyphicon-dashboard"></span> Rate per hour</span>
          <div class="dropdown" style="width: 64%;">
            <select class="form-control boldC">
              <option *ngFor="let item of ratePerHour" (click)="selectRateperhour(item)">
                {{item.name}}
              </option>
            </select>
          </div>
        </div>


        <!--<div style="position:absolute;width: 170%;margin-top: 63%;background-color: #eee;height: 8.5%;margin-left: -33.5%;"></div>
        <div style="position:absolute;width: 193%;z-index: 1;margin-top: -20.2%;background-color: #eee;height: 8.5%;margin-left: -50%;"></div>

        <div style="width: 170%;margin-top: 1%;background-color: #eee;height: 3.5%;margin-left: -36%;"></div>

        <div style="width: 200%;margin-top: 13.2%;background-color: #eee;height: 3.6%;margin-left: -65.5%;"></div>

        <div style="width: 190%;margin-top: 13%;background-color: #eee;height: 3.7%;margin-left: -53.5%;"></div>-->


        <div class="input-group" style="margin-top: 71%;margin-left: -16%;">
          <span class="input-group-addon">Size of storage unit</span>
          <div class="dropdown">
            <select id="packingMaterials" class="form-control boldC" style="width: 40%;padding-left: 10px;margin-right: 4%;">
              <option *ngFor="let item of storageSizes" (click)="selectSizeOfStorageUnit(item)">
                {{item.name}}
              </option>
            </select>
          </div>

            <div style="margin-top: 1%;">
              <p-calendar formControlName="storageDate"
                          dateFormat="mm/dd/yy"
                          timeFormat="hh:mm tt z"
                          timeControlType="select"
                          placeholder="Storage date"
                          [showIcon]="true"
                          [horizontalTimeControls]="true">
              </p-calendar>
            </div>

        </div>


      </div>

      <div class="col-xs-6 col-md-2" style="margin-top: 0.2%;margin-left: 6%;">
        <input type="text"
               class="form-control right-input"
               [value]="paymentPrice.ratePerHourPrice|currency:'USD':true:'1.2-2'"
               placeholder="0.00"
               pInputText
        />

        <input type="text"
               class="form-control right-input"
               [value]="paymentPrice.serviceChargePrice|currency:'USD':true:'1.2-2'"
               placeholder="0.00"
               pInputText
        />

        <input type="text"
               id="packingMaterialsSum"
               class="form-control right-input"
               style="margin-top: 4.5%;"
               placeholder="0.00"
               pInputText
        />

        <input type="text"
               id="shrinkSum"
               class="form-control right-input"
               placeholder="0.00"
               pInputText
        />
        <input type="text"
               class="form-control right-input"
               placeholder="0.00"
               aria-describedby="basic-addon1"
               style="margin-top: 4%;"
               pInputText
        />
        <input type="text"
               class="form-control right-input"
               placeholder="0.00"
               [value]="timeModel.paymentDetailsForm.heavyItemPrice|currency:'USD':true:'1.2-2'"
               style="margin-top: 4.5%;"
               pInputText
        />

        <input type="text"
               class="form-control right-input"
               placeholder="0.00"
               pInputText
        />

        <input type="text"
               class="form-control right-input"
               placeholder="0.00"
               style="margin-top: 5%;"
               pInputText
        />
        <input type="text"
               id="discountValue"
               class="form-control right-input"
               [value]="timeModel.paymentDetailsForm.discount|currency:'USD':true:'1.2-2'"
               placeholder="0.00"
               pInputText
        />
        <input type="text"
               id="totalForHours"
               class="form-control right-input"
               style="margin-top:4%;"
               [value]="paymentPrice.totalHourPrice|currency:'USD':true:'1.2-2'"
               placeholder="0.00"
               pInputText
        />
      </div>

    </div>

  </div>

  <hr>


  <div class="container">

    <div class="col-xs-6 col-md-3">
      <div class="panel panel-default" s>
        <div class="panel-heading">
          <h3 class="panel-title">Comment for sales: </h3>
        </div>
        <div class="panel-body">
          <textarea rows="5"
                    cols="30"
                    style="width: 99.5%;"
                    pInputTextarea
                    formControlName="forsalesComment"
          ></textarea>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Comment for manager: </h3>
        </div>
        <div class="panel-body">
         <textarea rows="5"
                   cols="30"
                   style="width: 99.5%;"
                   formControlName="forManagerComment"
                   pInputTextarea>
              </textarea>
        </div>
      </div>
    </div>

    <div class="col-xs-6 col-md-4">

      <div class="input-group ">
        <span class="input-group-addon"><span class="glyphicon glyphicon-tasks"></span> Status(color of order)</span>
        <div class="dropdown ">
          <select id="packingMaterials" class="form-control boldC p_25" [(ngModel)]="timeModel.paymentDetailsForm.status" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let item of status" (click)="selectStatus(item)">
              {{item.name}}
            </option>
          </select>
        </div>
      </div>

      <div class="input-group m_4" *ngIf="userService.user.position == 0">
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span> E-mail</span>
        <div class="dropdown">
          <select #mailSelect class="form-control">
            <option value="Prices">Prices</option>
            <option value="Order">Order</option>
          </select>
        </div>
        <span class="input-group-addon" style="font-weight: bolder;cursor: pointer;" (click)="sentMessage(mailSelect.selectedIndex)">
          <span style="font-weight: 600">Sent </span><span class="glyphicon glyphicon-send"></span>
        </span>

        <!--<p-splitButton  label="Sent" icon="fa-check" (onClick)="sent()">
          <p-splitButtonItem icon="fa-close"
                             label="email1"
                             (onClick)="openTemp1()">
          </p-splitButtonItem>
          <p-splitButtonItem icon="fa-refresh"
                             label="email2"
                             (onClick)="openTemp2()">
          </p-splitButtonItem>
        </p-splitButton>
        -->

      </div>

      <div class="input-group m_4">
        <span class="input-group-addon" style="width: 62%;"><span class="glyphicon glyphicon-star-empty"></span> Follow-up</span>

        <p-calendar dateFormat="yy-mm-dd"
                    formControlName="followUp"
                    placeholder="Move date"
                    [showIcon]="true"
                    #val
                    (onSelect)="selectFollowUp()"
                    [monthNavigator]="true"
                    [yearNavigator]="true"></p-calendar>
      </div>
    </div>

  </div>

  <hr>
  <button pButton type="text"
          style="margin-left: 40%;"
          icon="fa-check"
          label="Submit full form">
  </button>
</form>

<p-growl [value]="msgs" sticky="sticky"></p-growl>
<!--<button type="button" pButton (click)="showInfo()" label="Info"></button>-->


<p-dialog header = "Avaliable cars on: {{moveDate}}" [(visible)]="display" modal="modal" showEffect="fade">

        Total avaliable Trucks on PM:{{vehicle.avaliableTruckAm}} <br>
        Total avaliable Vans on PM:{{vehicle.avaliableVanAm}} <br>
        <!--<div class="dropdown" style="width:200px;">
                <select id="packingMaterials" class="form-control">
                  <option *ngFor="let item of vehicleToAm"
                          (click)="selectMoveTime(item)">
                    {{item.type}}, {{item.vehicleRegNumber}}
                  </option>
                </select>
        </div>-->
      <!--<p-dropdown [options]="vehicleToPm"  [style]="{'width':'150px'}"
      (click)="selectedVehiclePm()"></p-dropdown>-->

      Total avaliable Trucks on AM:{{vehicle.avaliableTruckAm}} <br>
      Total avaliable Vans on AM: {{vehicle.avaliableVanPm}}
      <!--<div class="dropdown" style="width:200px;">
                <select id="packingMaterials" class="form-control">
                  <option *ngFor="let item of vehicleToPm"
                          (click)="selectMoveTime(item)">
                    {{item.type}}, {{item.vehicleRegNumber}}
                  </option>
                </select>
      </div>-->

        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" pButton icon="fa-close" (click)="display=false" label="Cancel"></button>
                <button type="button" pButton icon="fa-check" (click)="display=false" label="Apply"></button>
            </div>
        </footer>
</p-dialog>


<script type="text/javascript" src="src/js/datepicker.js"></script>

<style>
  .right-input{
    margin-top: 3.5%;
    width: 60%;
    font-weight: 600;
    text-align: right;
    padding-right: 10%;;
  }
  .m_4{
    margin-top: 4%;
  }
  .label_40{
    width: 40%;
  }
  .container-margin-3{
    margin-top: 3%;
  }
  .boldC{
    font-weight: bold;
  }
  .w_158{
    width: 158%;
  }
  .w_100{
    width: 100%;
  }
  .w_30{
    width: 30%;
  }
  .w_90{
    width: 90%;
  }
  .w_125{
    width: 125%;
  }
  .qu1{
    font-size: 1.34em;
    margin-left: 2px;
  }
  .m_2{
    margin-top: 2%;
  }
  .m_3{
    margin-top: 3%;
  }
  .checkbox-addon{
    width: 20px;
    height: 20px;
  }
  .p_40{
    padding-left: 40%;
  }
  .p_25{
    padding-left: 25%;
  }
</style>
