<div class="container" style="box-shadow: 20px 20px 35px rgba(0,0,0,.1), -20px 20px 35px rgba(0,0,0,.1);padding-bottom: 20px;">
    <h2>Admin panel</h2>

    <div class="row">

        <div class="col-md-3">

            <h3>Adding Vehicle</h3>

            <div class="input-group">
                <span class="input-group-addon"></span>
                <input class="form-control" #vehicleId placeholder="Id">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"></span>
                <input class="form-control" #vehicleType placeholder="Type">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"></span>
                <input class="form-control" #vehicleRegNumber placeholder="vehicle Reg. number">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                <input class="form-control" #vehicleDate placeholder="booking date">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"><span class="glyphiconglyphicon-time"></span> </span>
                </span>
                <input class="form-control" #vehicleDate placeholder="periodOfDay">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-wrench"></span> Is avaliable</span>
            <span class="input-group-addon">
                 <input type="checkbox"
                        style="width: 20px;height: 20px;"
                        name="vehicle"
                        class="checkbox-addon"
                        #vehicleIsAvaliable />
            </span>
            </div>

            <button class="btn-info marginTop" (click)="addVehicle(vehicleId.value,vehicleType.value ,vehicleRegNumber.value,vehicleDate.value, vehicleDate.value , vehicleIsAvaliable.checked  )">Add Vehicle</button>

        </div>

        <div class="col-md-4" style="margin-top: 4.5%;">

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span> Choose Employe</span>
                <div class="dropdown">
                    <select #selectEmploye class="form-control">
                        <option *ngFor='let employe of employees' [value]="employe">{{employe}}</option>
                    </select>
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-align-left"></span> </span>
                <input class="form-control" #employeFirstName placeholder="First name">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-align-right"></span> </span>
                <input class="form-control" #employeLastName placeholder="Last name">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-inbox"></span> </span>
                <input class="form-control" #employePosition placeholder="Position">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-earphone"></span> </span>
                <input class="form-control" #employePhone placeholder="Phone">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span> </span>
                <input class="form-control" #employePassword placeholder="Password">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span> </span>
                <input class="form-control" #employeRate placeholder="Rate">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span> </span>
                <input class="form-control" #employeWorkTime placeholder="Work time">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-trash"></span> </span>
                <input class="form-control" #employeFine placeholder="Fine">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-list-alt"></span> </span>
                <input class="form-control" #employeExpenses placeholder="Expenses">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-credit-card"></span> </span>
                <input class="form-control" #employeSalary placeholder="Salary">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-piggy-bank"></span> </span>
                <input class="form-control" #employeBonuses placeholder="Bonuses">
            </div>

            <div class="input-group marginTop">
                <span class="input-group-addon"><span class="glyphicon glyphicon-wrench"></span> Enabled</span>
            <span class="input-group-addon">
                 <input type="checkbox"
                        style="width: 20px;height: 20px;"
                        name="vehicle"
                        class="checkbox-addon"
                        #employeEnabled />
            </span>
            </div>

            <button class="btn-info marginTop" (click)="addEmploye(selectEmploye.selectedIndex , employeFirstName.value,employeLastName.value,
            employePosition.value, employePhone.value, employePassword.value, employeRate.value,  employeWorkTime .value,
             employeFine.value, employeExpenses.value, employeSalary.value,employeBonuses.value, employeEnabled.checked )">Add Employe</button>

        </div>


   </div>
</div>

<style>
    .marginTop{
        margin-top: 4%;
    }
</style>