.list-space{
    font-size: 20px;
    /*padding-bottom:10px; */
    /*background: lightskyblue;*/
    border-top: 1px solid #fff;
     border: 1px solid cornflowerblue;
     border-radius: 5px;
}
.list-space :hover {

    background: lightskyblue;
    border: 1px solid blue;
    border-radius: 5px;
   
}
@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
body,li,h1,h2,h3,h4,h5,h6,a,p{
    font-family: 'Oswald', sans-serif;
}

.thumbnail img{
  max-height: 180px;
  min-height: 100px;

}

.content-list{
  padding: 15px;
  background:#f5f5f5; 
  border-radius: 15px;
}

.pagination{
  padding: 15px;
   background:#f5f5f5; 
  border-radius: 15px;
}

.panel-group{
  margin-top: 20px;
  padding: 10px;
  background: lightcyan;
  border-radius: 10px;
  max-width: 250px;
 
}

 .left-space{
   margin-left:20px;
 }

.list-inline{
  height: auto;
}
 .list-inline li{
   /*min-width: 190px;*/
   /*max-width: 230px;*/
   box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.35);
   /*position: fixed;*/
  margin-right: 5px;
 }

 .panel-body{
   padding: 0px;

   /*float:right;*/
   border-left:black;
   padding-top:0px; 
  
 }
 .panel-body a{
   /*padding-left: 40px;*/

 }
 .panel-default{
   border:none;
   background: none;
 }
 .panel-default > .panel-heading{
   /*border-color:; */
   border:1px solid #ddd;
   padding: 0px;

 }

 .panel-default > .panel-heading a{
  width: 100%;
 }

 .panel-default > .panel-collapse{
   /*float: right;*/
 }

 .dropdown-submenu{
   position:relative;
   }


   .dropdown-menu{
     box-shadow: none;
     background: none;
     border:none;
     width: 90%;
     float: right;
   }
   .dropdown-menu li{
    /*border: 1px solid #ddd;*/
    margin-bottom: 5px; 
    /*background: blue;*/
   }


  
.dropdown-submenu>.dropdown-menu{
  width: 150px;
  background: lightcyan;
  top:0;
  left:100%;
  margin-top:-6px;
  margin-left:-1px;

  -webkit-border-radius:0 6px 6px 6px;
  -moz-border-radius:0 6px 6px 6px;
  border-radius:0 6px 6px 6px;
  border: none;
  /*background: black;*/
  }
  
   .dropdown-submenu>.dropdown-menu ul{
    background: green;

  }
.dropdown-submenu:hover>.dropdown-menu{
  display:block;
  }
.dropdown-submenu>a:after{

  
  display:block;
  content:" ";
  float:right;
  width:0;
  height:0;
  /*border-color:transparent;*/
  /*border-style:solid;*/
  border-width:5px 0 5px 5px;
  /*border-left-color:#cccccc;*/
  margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{
  /*border-left-color:#ffffff;*/
  /*background: orangered;*/
  }
.dropdown-submenu.pull-left{
  float:none;
  }
  .dropdown-submenu.pull-left>.dropdown-menu{
    left:-100%;margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
    }

    dropdown-menu{
    left:-100%;margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
    }





