.form-signin{
    /*background-image: url("http://i1-news.softpedia-static.com/images/news2/Download-Aqua-and-Fauna-Dynamic-Themes-for-Windows-7-4.jpg");*/
  margin-top:10%;
  /*margin: auto;*/
  margin-left:37%;
  margin-right: 37%; 
  padding: 15px;
  /*width: 340px;*/
  max-width: 340px;
  height:auto; 
  border-radius: 12px;
  border: 1px solid #e8e8e8;
  /*background: lightgray ; */
  /*box-shadow: 0 1px 0 rgba(0,0,0,.35);*/
  box-shadow: 10px 10px 5px 4px rgba(0,0,0,0.35);
  margin-bottom: 150px;
}

.form-signin h2{
    text-align: center;
}



.form-signin .button-group{
  padding-bottom: 30px;
  
}
.form-signin .button-group button{    
    width: 49%;
    float: right;
}
.form-signin .button-group a{    
    width: 49%;
    float:left;
}

.bgimage {
/*background-image: url("https://media.giphy.com/media/11O4QMECboQao8/giphy.gif") ;*/
/*background-image: url("src/images/sunshine.gif") ;*/

background-size: 100%;
height: 850px;

}
