<div class="parallax-container">
    <div class="parallax">
       <img src="http://wallpapercave.com/wp/EHJZz1N.jpg">
     
      </div>
  </div>
  <div class="section white" style="padding:0px;">
    <div class="row" style="margin:0px;">
          <div class="col s12" style="padding:0px;">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.854428680607!2d30.37984141595854!3d50.46243539438181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ccf3a619e8af%3A0x16c23e05af53dca7!2z0LLRg9C70LjRhtGPINCl0LzQtdC70YzQvdC40YbRjNC60LAsINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1472463634602"
         width="100%" height="550"
          frameborder="0" style="border:0; padding:0px;" allowfullscreen></iframe>
          </div>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax">
       <img src="http://wallpapercave.com/wp/9MrHcRm.jpg">
       
        </div>
  </div>

    <div class="section white" style="padding:0px;">
    <div class="row" style="margin:0px;">
          <div class="col s12" style="padding:0px;">
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2539.854428680607!2d30.37984141595854!3d50.46243539438181!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ccf3a619e8af%3A0x16c23e05af53dca7!2z0LLRg9C70LjRhtGPINCl0LzQtdC70YzQvdC40YbRjNC60LAsINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1472463634602"
         width="100%" height="550"
          frameborder="0" style="border:0; padding:0px;" allowfullscreen></iframe>
          </div>
    </div>
  </div>

    <div class="parallax-container">
    <div class="parallax">
      <img src="http://vignette1.wikia.nocookie.net/masseffect/images/d/d7/MassEffect2Citadel.jpg/revision/latest?cb=20100721191415">
        </div>
  </div>

